<% extends "jinja/base.htm.j2" %>

<% block title %>About<% endblock %>

<% block links %>
    %% super() %%
    %% css_links([url_for('static', filename='css/about.css')]) %%
<% endblock %>

<% block content %>
<div class="columns full-height"> <!--is-fullheight-->
    <section class="column profile-img-section">
        <img src="%% url_for('static', filename='img/face_1.jpg') %%" class="img-profile">
    </section>
    <section class="column section">
        <h1 class="title">About Me</h1>
        <!-- <h2 class="subtitle">
          test
        </h2> -->
        <div class="">
            <p>
            Hi! I'm Justin. I'm a full stack developer by day and also a half stack developer by night
            (I get a bit lazy when I'm off the clock).
            I have a strong passion for coding and have been doing it for just over 10 years (3 years proffesionally);
            I absolutely love it!
            </p>
            <p>
            I'm from Canada, not born but raised. I moved to Chicago over 2 years ago after finishing my degree
            in computer science. I like ketchup chips, I love KD (Kraft Dinner for those not in the know) and
            pretty much all other food except peanut butter. Other than that I'm a bit of a board game enthusiast
            and love camping and hiking. Anyway this isn't my dating profile so moving on!
            </p>
            <p>
            Currently I work for the software company <a href="https://www.wellspring.com">Wellspring</a>
            as a full stack developer. We are a small team of devlopers with multiple large profile products,
            because of this I get to stick my hands into a bit of everything; which I love.
            I do active development and maintenance (front end and back) on three different products we own (specifically
            Sophia, Flintbox and Wellspring Search), work on automated testing and deployment for these products
            as well as have a hand in managing and configuring our servers for these products. My core strengths lie in back-end
            development but getting to know and contribute to every aspect of a product is my ideal.
            </p>
        </div>
    </section>
</div>
<% endblock %>
