<% extends "global/main_body.htm.j2" %>

<% block links %>
    %% super() %%
    %% css_links([url_for('static', filename='css/header.css')]) %%
<% endblock %>

<% block body_javascript %>
    %% super() %%
    %% javascript_paths([url_for('static', filename='js/header.vue.js')]) %%
<% endblock %>

<% block body %>
    <header class="main-header">
        <% include 'jinja/header.htm.j2' %>
    </header>
    <main class="main-body">
        <% block content %><% endblock %>
    </main>
<% endblock %>
