<% macro external_link(visibility, url, icon) %>
    <a class="navbar-item %% visibility %%" href="%% url %%" target="_blank">
        <span class="icon has-text-primary neutral">
            <i class="fa fa-2x fa-%% icon %%"></i>
        </span>
        <span class="icon has-text-white hovered">
            <i class="fa fa-2x fa-%% icon %%"></i>
        </span>
    </a>
<% endmacro %>
<% macro external_links(visibility) %>
    %% external_link(visibility, "https://github.com/SandersJ16", "github") %%
    %% external_link(visibility, "https://www.linkedin.com/in/justinsanderscodemastersupreme/", "linkedin") %%
<% endmacro %>


<nav id="navbar" class="navbar is-black">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <img src="%% url_for('static', filename='img/JustinSanders.svg') %%" alt="Justin Sanders" class="header_logo">
        </a>
        <!-- Display only on mobile screen devies -->
        %% external_links("is-hidden-desktop") %%
        <div class="navbar-burger" v-on:click="toggleMenu" v-bind:class="{ 'is-active': hamburger_active }">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>

    <div class="navbar-menu" v-bind:class="{ 'is-active': hamburger_active }">
        <div class="navbar-start">
            <a class="navbar-item" href="/about">
                About Me
            </a>
            <a class="navbar-item" href="/resume">
                Resume
            </a>
        </div>

        <div class="navbar-end is-hidden-touch">
            <span class="navbar-item">Welcome, %% config.user.nickname|default("Guest") %%</span>
            <!-- Display only on full screen devices -->
            %% external_links("") %%
        </div>
    </div>
</nav>

