<% extends "jinja/docx.htm.j2" %>

<% block title %>Resume<% endblock %>

<% set filename = url_for('static', filename='docx/Resume.docx') %>

<% block document %>
<div class=WordSection1>

<div style='mso-element:para-border-div;border:none;border-bottom:solid #FF388C 1.0pt;
padding:0cm 0cm 11.0pt 0cm'>

<p class=MsoTitle style='border:none;mso-border-bottom-alt:solid #FF388C 1.0pt;
padding:0cm;mso-padding-alt:0cm 0cm 11.0pt 0cm'><span lang=EN-US
style='font-size:24.0pt'>Justin Sanders <span style='mso-tab-count:1'> </span><o:p></o:p></span></p>

</div>

</div>

<span lang=EN-US style='font-size:24.0pt;font-family:"Century Gothic",sans-serif;
mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman";
color:#4C4C4C;letter-spacing:.25pt;mso-font-kerning:14.0pt;mso-ansi-language:
EN-US;mso-fareast-language:EN-US;mso-bidi-language:AR-SA'><br clear=all
style='page-break-before:auto;mso-break-type:section-break'>
</span>

<div class=WordSection2>

<p class=MsoNoSpacing style='margin-right:-100.35pt;tab-stops:337.5pt'><span
lang=EN-US>2970 N Sheridan Rd. Apt. 1215<span style='mso-tab-count:1'>                                                            </span></span><span
lang=EN-US style='mso-bidi-font-size:16.0pt'>Blitz1616@hotmail.com</span></p>

</div>

<span lang=EN-US style='font-size:11.0pt;font-family:"Century Gothic",sans-serif;
mso-fareast-font-family:"Century Gothic";mso-bidi-font-family:"Times New Roman";
mso-ansi-language:EN-US;mso-fareast-language:EN-US;mso-bidi-language:AR-SA'><br
clear=all style='page-break-before:auto;mso-break-type:section-break'>
</span>

<div class=WordSection3>

<p class=MsoNoSpacing style='tab-stops:337.5pt'><span lang=EN-US>Chicago, Illinois
60657<span style='mso-tab-count:1'>                                                                          </span>Cell:
(331) 201 – 8648</span></p>

<p class=MsoNoSpacing style='tab-stops:337.5pt'><span lang=EN-US><o:p>&nbsp;</o:p></span></p>

<p class=MsoListParagraphCxSpFirst style='margin-left:0cm;mso-add-space:auto'><span
lang=EN-US><a href="https://justinsanders.io"><span style='font-size:10.0pt;
line-height:115%'>https://justinsanders.io</span></a></span><span lang=EN-US
style='font-size:10.0pt;line-height:115%;color:#4472C4;mso-themecolor:accent1'>
<span style='mso-tab-count:1'>            </span><span
style='mso-spacerun:yes'>       </span></span><span lang=EN-US><a
href="https://www.linkedin.com/in/justinsanderscodemastersupreme"><span
style='float:right;font-size:10.0pt;line-height:115%;mso-bidi-font-family:Arial;background:
white'>https://www.linkedin.com/in/justinsanderscodemastersupreme</span></a></span><span
lang=EN-US style='font-size:10.0pt;line-height:115%'><o:p></o:p></span></p>

<p class=MsoListParagraphCxSpLast style='margin-left:0cm;mso-add-space:auto'>
<span
lang=EN-US><a href="https://github.com/SandersJ"><span style='font-size:10.0pt;
line-height:115%'>https://github.com/SandersJ</span></a></span>

<span lang=EN-US><a
href="https://github.com/sandersj-wellspring"><span
style='float:right;font-size:10.0pt;line-height:115%;mso-bidi-font-family:Arial;background:
white'>https://github.com/sandersj-wellspring</span></a></span>
</p>

<div style='mso-element:para-border-div;border:none;border-bottom:solid #FF388C 1.0pt;
padding:0cm 0cm 4.0pt 0cm'>

<p class=MsoTitle><span lang=EN-US style='font-size:5.0pt'><o:p>&nbsp;</o:p></span></p>

</div>

<h1 style='margin-top:0cm;margin-right:0cm;margin-bottom:6.0pt;margin-left:
0cm'><span lang=EN-US>Education</span></h1>

<p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;tab-stops:
355.5pt'><strong><span lang=EN-US style='font-family:"Century Gothic",sans-serif'>University
of Windsor <span style='mso-tab-count:1'>                                                                                 </span>2012
– 2015<o:p></o:p></span></strong></p>

<p class=MsoNormal style='margin-bottom:6.0pt'><span lang=EN-US>Honors Bachelor
of Computer Science (Completed)</span></p>

<p class=MsoNoSpacing style='tab-stops:355.5pt'><strong><span lang=EN-US
style='font-family:"Century Gothic",sans-serif'>University of Toronto <span
style='mso-tab-count:1'>                                                                                  </span>2010
– 2012 <o:p></o:p></span></strong></p>

<p class=MsoNoSpacing style='tab-stops:355.5pt'><span lang=EN-US>Bachelor of Physics
and Computer Science</span></p>

<p class=MsoNoSpacing><span lang=EN-US style='font-size:9.0pt'><o:p>&nbsp;</o:p></span></p>

<h1 style='margin-top:0cm'><span lang=EN-US>Technical Skills</span></h1>

<p class=MsoListParagraphCxSpFirst style='text-indent:-18.0pt;mso-list:l8 level1 lfo1'><![if !supportLists]><span
lang=EN-US style='font-size:10.0pt;line-height:115%;font-family:Symbol;
mso-fareast-font-family:Symbol;mso-bidi-font-family:Symbol'><span
style='mso-list:Ignore'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></span><![endif]><span lang=EN-US style='font-size:10.0pt;
line-height:115%'>Strong Programming Skills<o:p></o:p></span></p>

<p class=MsoListParagraphCxSpMiddle style='text-indent:-18.0pt;mso-list:l8 level1 lfo1'><![if !supportLists]><span
lang=EN-US style='font-size:10.0pt;line-height:115%;font-family:Symbol;
mso-fareast-font-family:Symbol;mso-bidi-font-family:Symbol'><span
style='mso-list:Ignore'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></span><![endif]><span lang=EN-US style='font-size:10.0pt;
line-height:115%'>Familiar Languages: PHP, Python, Java, Ruby, C, Visual Basic,
HTML, XML, XSL, XPath, CSS, JavaScript, Ajax, JSON and SQL<o:p></o:p></span></p>

<p class=MsoListParagraphCxSpMiddle style='text-indent:-18.0pt;mso-list:l8 level1 lfo1'><![if !supportLists]><span
lang=EN-US style='font-size:10.0pt;line-height:115%;font-family:Symbol;
mso-fareast-font-family:Symbol;mso-bidi-font-family:Symbol'><span
style='mso-list:Ignore'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></span><![endif]><span lang=EN-US style='font-size:10.0pt;
line-height:115%'>Familiar Frameworks: Silex, Rails, Django, Flask, ReactJS,
JQuery, VueJS, Puppet<o:p></o:p></span></p>

<p class=MsoListParagraphCxSpMiddle style='text-indent:-18.0pt;mso-list:l8 level1 lfo1'><![if !supportLists]><span
lang=EN-US style='font-size:10.0pt;line-height:115%;font-family:Symbol;
mso-fareast-font-family:Symbol;mso-bidi-font-family:Symbol'><span
style='mso-list:Ignore'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></span><![endif]><span lang=EN-US style='font-size:10.0pt;
line-height:115%'>Basic Apache, Jenkins, SAML, MySQL, Postgres, Solr and MS Access<o:p></o:p></span></p>

<p class=MsoListParagraphCxSpMiddle style='text-indent:-18.0pt;mso-list:l8 level1 lfo1'><![if !supportLists]><span
lang=EN-US style='font-size:10.0pt;line-height:115%;font-family:Symbol;
mso-fareast-font-family:Symbol;mso-bidi-font-family:Symbol'><span
style='mso-list:Ignore'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></span><![endif]><span lang=EN-US style='font-size:10.0pt;
line-height:115%'>Familiarity with both Windows, Mac and Linux Operating
systems <o:p></o:p></span></p>

<p class=MsoListParagraphCxSpMiddle style='text-indent:-18.0pt;mso-list:l8 level1 lfo1'><![if !supportLists]><span
lang=EN-US style='font-size:10.0pt;line-height:115%;font-family:Symbol;
mso-fareast-font-family:Symbol;mso-bidi-font-family:Symbol'><span
style='mso-list:Ignore'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></span><![endif]><span lang=EN-US style='font-size:10.0pt;
line-height:115%'>Strong Bash Script and other scripting languages<o:p></o:p></span></p>

<p class=MsoListParagraphCxSpMiddle style='text-indent:-18.0pt;mso-list:l8 level1 lfo1'><![if !supportLists]><span
lang=EN-US style='font-size:10.0pt;line-height:115%;font-family:Symbol;
mso-fareast-font-family:Symbol;mso-bidi-font-family:Symbol'><span
style='mso-list:Ignore'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></span><![endif]><span lang=EN-US style='font-size:10.0pt;
line-height:115%'>Usage of Git as single developer and in a large team<o:p></o:p></span></p>

<p class=MsoListParagraphCxSpLast style='text-indent:-18.0pt;mso-list:l8 level1 lfo1'><![if !supportLists]><span
lang=EN-US style='font-size:10.0pt;line-height:115%;font-family:Symbol;
mso-fareast-font-family:Symbol;mso-bidi-font-family:Symbol'><span
style='mso-list:Ignore'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></span><![endif]><span lang=EN-US style='font-size:10.0pt;
line-height:115%'>Creating/managing automation through Jenkins and Vagrant<o:p></o:p></span></p>

<h1 style='margin-top:0cm;margin-right:0cm;margin-bottom:6.0pt;margin-left:
0cm'><span lang=EN-US>Work Experience</span></h1>

<p class=MsoNormal><b style='mso-bidi-font-weight:normal'><span lang=EN-US>Wellspring
Worldwide<span style='mso-tab-count:2'>                      </span>Software
Engineer<span style='mso-tab-count:3'>                            </span>2015
July – Present<o:p></o:p></span></b></p>

<p class=MsoNormal style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;
margin-left:35.7pt;margin-bottom:.0001pt;text-indent:-17.85pt;mso-list:l10 level1 lfo18'><![if !supportLists]><span
lang=EN-US style='font-size:10.0pt;line-height:115%;font-family:Symbol;
mso-fareast-font-family:Symbol;mso-bidi-font-family:Symbol'><span
style='mso-list:Ignore'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></span><![endif]><span lang=EN-US style='font-size:10.0pt;
line-height:115%'>Adding/modifying new features to multiple large-scale web
products<o:p></o:p></span></p>

<p class=MsoNormal style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;
margin-left:35.7pt;margin-bottom:.0001pt;text-indent:-17.85pt;mso-list:l10 level1 lfo18'><![if !supportLists]><span
lang=EN-US style='font-size:10.0pt;line-height:115%;font-family:Symbol;
mso-fareast-font-family:Symbol;mso-bidi-font-family:Symbol'><span
style='mso-list:Ignore'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></span><![endif]><span lang=EN-US style='font-size:10.0pt;
line-height:115%'>Fixing of client bugs and refactoring existing code<o:p></o:p></span></p>

<p class=MsoNormal style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;
margin-left:35.7pt;margin-bottom:.0001pt;text-indent:-17.85pt;mso-list:l10 level1 lfo18'><![if !supportLists]><span
lang=EN-US style='font-size:10.0pt;line-height:115%;font-family:Symbol;
mso-fareast-font-family:Symbol;mso-bidi-font-family:Symbol'><span
style='mso-list:Ignore'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></span><![endif]><span lang=EN-US style='font-size:10.0pt;
line-height:115%'>Creation and management of automated deployment, testing and
other processes for our products using Jenkins and other tools.<o:p></o:p></span></p>

<p class=MsoNormal style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;
margin-left:35.7pt;margin-bottom:.0001pt;text-indent:-17.85pt;mso-list:l10 level1 lfo18'><![if !supportLists]><span
lang=EN-US style='font-size:10.0pt;line-height:115%;font-family:Symbol;
mso-fareast-font-family:Symbol;mso-bidi-font-family:Symbol'><span
style='mso-list:Ignore'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></span><![endif]><span lang=EN-US style='font-size:10.0pt;
line-height:115%'>Creation of front-end testing using Selenium, unit testing
and monitoring<o:p></o:p></span></p>

<p class=MsoNormal style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;
margin-left:35.7pt;margin-bottom:.0001pt;text-indent:-17.85pt;mso-list:l10 level1 lfo18'><![if !supportLists]><span
lang=EN-US style='font-size:10.0pt;line-height:115%;font-family:Symbol;
mso-fareast-font-family:Symbol;mso-bidi-font-family:Symbol'><span
style='mso-list:Ignore'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></span><![endif]><span lang=EN-US style='font-size:10.0pt;
line-height:115%'>SQL Database (MySQL, Postgres) management and integration
with software products<o:p></o:p></span></p>

<p class=MsoNormal style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;
margin-left:35.7pt;margin-bottom:.0001pt;text-indent:-17.85pt;mso-list:l10 level1 lfo18'><![if !supportLists]><span
lang=EN-US style='font-size:10.0pt;line-height:115%;font-family:Symbol;
mso-fareast-font-family:Symbol;mso-bidi-font-family:Symbol'><span
style='mso-list:Ignore'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></span><![endif]><span lang=EN-US style='font-size:10.0pt;
line-height:115%'>Working with clients to integrate SAML authentication with
our systems<o:p></o:p></span></p>

<p class=MsoNormal style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;
margin-left:35.7pt;margin-bottom:.0001pt;text-indent:-17.85pt;mso-list:l10 level1 lfo18'><![if !supportLists]><span
lang=EN-US style='font-size:10.0pt;line-height:115%;font-family:Symbol;
mso-fareast-font-family:Symbol;mso-bidi-font-family:Symbol'><span
style='mso-list:Ignore'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></span><![endif]><span lang=EN-US style='font-size:10.0pt;
line-height:115%'>Integration with Ops team in the management and maintenance
of our servers <o:p></o:p></span></p>

<p class=MsoNormal style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;
margin-left:35.7pt;margin-bottom:.0001pt;text-indent:-17.85pt;mso-list:l10 level1 lfo18'><![if !supportLists]><span
lang=EN-US style='font-size:10.0pt;line-height:115%;font-family:Symbol;
mso-fareast-font-family:Symbol;mso-bidi-font-family:Symbol'><span
style='mso-list:Ignore'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></span><![endif]><span lang=EN-US style='font-size:10.0pt;
line-height:115%'>Integration with Project Managers and Client Services in
solving client concerns and planning/creating new software features<o:p></o:p></span></p>

<p class=MsoNormal style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;
margin-left:17.85pt;margin-bottom:.0001pt'><span lang=EN-US style='font-size:
10.0pt;line-height:115%'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;tab-stops:
center 216.0pt'><b style='mso-bidi-font-weight:normal'><span lang=EN-US>Stone
River Insurance Solutions<span style='mso-tab-count:1'> </span><span
style='mso-spacerun:yes'>    </span><span style='mso-spacerun:yes'>   </span><i
style='mso-bidi-font-style:normal'>Form Developer<span style='mso-tab-count:
2'>                 </span></i><span style='mso-tab-count:1'>            </span>2013
May – Dec, <o:p></o:p></span></b></p>

<p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;tab-stops:
center 216.0pt'><b style='mso-bidi-font-weight:normal'><span lang=EN-US><span
style='mso-tab-count:5'>                                                                                                                        </span>2014
April – Aug<o:p></o:p></span></b></p>

<p class=MsoNormal style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;
margin-left:36.0pt;margin-bottom:.0001pt;text-indent:-18.0pt;mso-list:l13 level1 lfo9;
tab-stops:36.0pt 355.5pt'><![if !supportLists]><span lang=EN-US
style='font-size:10.0pt;line-height:115%;font-family:Symbol;mso-fareast-font-family:
Symbol;mso-bidi-font-family:Symbol'><span style='mso-list:Ignore'>·<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></span><![endif]><span lang=EN-US style='font-size:10.0pt;
line-height:115%'>Creation of insurance forms and fixing of existing<span
style='mso-spacerun:yes'>  </span>forms using XML, Visual Basic and C++<o:p></o:p></span></p>

<p class=MsoNormal style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;
margin-left:36.0pt;margin-bottom:.0001pt;text-indent:-18.0pt;mso-list:l13 level1 lfo9;
tab-stops:36.0pt 355.5pt'><![if !supportLists]><span lang=EN-US
style='font-size:10.0pt;line-height:115%;font-family:Symbol;mso-fareast-font-family:
Symbol;mso-bidi-font-family:Symbol'><span style='mso-list:Ignore'>·<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></span><![endif]><span lang=EN-US style='font-size:10.0pt;
line-height:115%'>Database Management(MS Access) for insurance information<o:p></o:p></span></p>

</div>
<% endblock %>
