@import url("https://fonts.googleapis.com/css?family=Ubuntu+Mono");
header.main-header {
  max-height: 5rem; }
  header.main-header .navbar-menu.is-active {
    position: absolute;
    right: 0; }
  header.main-header a.navbar-item:hover .icon.neutral {
    display: none; }
  header.main-header a.navbar-item:hover .icon.hovered {
    display: initial; }
  header.main-header a.navbar-item .icon.neutral {
    display: initial; }
  header.main-header a.navbar-item .icon.hovered {
    display: none; }
