<% macro external_link(visibility, url, icon) %>
    <a class="navbar-item %% visibility %%" href="%% url %%" target="_blank">
        <span class="icon has-text-info">
            <i class="fa fa-3x fa-%% icon %%"></i>
        </span>
    </a>
<% endmacro %>
<% macro external_links(visibility) %>
    %% external_link(visibility, "https://github.com/SandersJ16", "github") %%
    %% external_link(visibility, "https://www.linkedin.com/in/justinsanderscodemastersupreme/", "linkedin") %%
<% endmacro %>

<div class="container is-primary">
    <nav class="navbar">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <img src="%% url_for('static', filename='img/JustinSanders.svg') %%" alt="Justin Sanders" class="header_logo">
            </a>
            <!-- Display only on mobile screen devies -->
            %% external_links("is-hidden-desktop") %%
        </div>

        <div class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="/">
                    Bio
                </a>
                <a class="navbar-item" href="/">
                    Notes
                </a>
            </div>

            <div class="navbar-end">
                <span class="navbar-item">Welcome, %% config.user.nickname|default("Guest") %%</span>
                <!-- Display only on full screen devices -->
                %% external_links("is-hidden-desktop-only") %%
            </div>
        </div>
    </nav>
</div>
