<header>
    <h1 class="level-item">Justin Sanders</h1>
    <h2 class="level-item">Grand Code Master Supreme</h2>
    <nav class="navbar level">
        <div class="level-left">
            <nav class="level-item">
                <a class="button is-primary" href="/">Home</a>
                <a class="button is-primary" href="/">Bio</a>
                <a class="button is-primary" href="/">Notes</a>
            </nav>
        </div>
    </nav>
</header>
