<header class="container">
    <h1 class="title is-1">Justin Sanders</h1>
    <h2 class="subtitle is-3">Grand Code Master Supreme</h2>
    <nav class="navbar">
        <div class="navbar-menu">
            <ul class="navbar-start">
                <li class="navbar-item">
                    <a class="navbar-link button is-primary" href="/">Home</a>
                </li>
                <li class="navbar-item">
                    <a class="button is-primary" href="/">Bio</a>
                </li>
                <li class="navbar-item">
                    <a class="button is-primary" href="/">Notes</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
