<% extends "base.htm.j2" %>

<% block title %>%% title %%<% endblock %>

<% block content %>
<section class="hero is-info is-fullheight">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">%% title %%</h1>
      <h2 class="subtitle">%% subtitle %%</h2>
      <h3 class="subtitle">(Not a UX Designer)</h3>
    </div>
  </div>
</section>
<% endblock %>
