<html>
  <head>
    <title><% block title %><% endblock %></title>
    <script src="%% url_for('static', filename='node_modules/vue/dist/vue.runtime.common.js') %%"></script>
    <link rel="stylesheet" href="%% url_for('static', filename='node_modules/bulma/css/bulma.css') %%">
  </head>
  <body>
      <# <% block header %><% endblock %>
      <% block content %><% endblock %> #>
  </body>
</html>
